/for chatgpt.csv
/gene_expression.tsv
/gene_expression_clean.csv
/gene_expression_long.csv
/Gene_ID.csv
/phenotype.csv
/phenotype.tsv
/survival by stage.sql
/survival.tsv
/survival_clean.csv
/testp_python.py